body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

.bed-size {
    margin-bottom: 20px;
}

.bed-size h1, .drag-drop h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.bed-size label, .controls button {
    font-size: 16px;
    margin-right: 10px;
}

input[type="number"] {
    font-size: 16px;
    margin-right: 20px;
    width: 50px;
}

.controls {
    margin-bottom: 20px;
}

.control-btn {
    background-color: #e7e7e7;
    color: black;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.control-btn:hover {
    background-color: #ddd;
}

.drag-drop {
    margin-bottom: 20px;
}

.crop-selection {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.arrow-btn {
    background-color: #ddd;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}

.crops {
    display: flex;
    overflow: hidden;
    width: calc(100% - 100px);
}

.crops img {
    margin: 0 5px;
    height: 80px;
    cursor: pointer;
}

.garden-bed {
    display: none; /* Hide initially */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
}

.bed-cell {
    width: 100%;
    height: 100px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}


