/* 이 파일은 map.css 입니다. */
.grid-container {
    display: grid;
    grid-gap: 1px;
    background-color: #ddd;
    margin-top: 20px;
    /* Specify the number of columns and rows */
    grid-template-columns: repeat(var(--width), 1fr);
    grid-template-rows: repeat(var(--height), 1fr);
}

.grid-item {
    background-color: #fff;
    border: 1px solid #999;
    padding: 0;
    text-align: center;
    font-size: 12px;
}
